/* ------------- 1280px ------------- */
@media(max-width:1280px) {

    /* Header Start */
    .top-header {
        height: 4.7rem;
        display: flex;
    }

    .top-header .left-section {
        max-height: 4.7rem;
        flex-direction: column;
        gap: 0.625rem;
    }

    /* Nav-Start */
    nav .primary-button span {
        font-size: .875rem;
    }

    nav .sub-nav {
        width: 96%;
    }

    .nav-button {
        width: 70%;
    }

    /* Nav-End */
    /* Header End */

    /* Hero-Section-Start */
    /* Left */
    .hero-section .left .slide-text span {
        font-size: 2.25rem;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section button {
        padding: 6px 28px;
        font-size: 0.875rem;
    }

    .sub-hero-section {
        justify-content: space-between;
        height: 700px;
    }

    .hero-section .right {
        display: none;
    }

    .hero-section .right-1 {
        width: 49%;
        display: unset;
    }

    /* Hero-Section-End */

    /* Followers Section Start */
    .sub-follower-section {
        width: 100%;
    }

    /* Followers Section End */

    /* Learning Section Start */

    .learning-section .sub-learning-2 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 56px;
    }

    /* Learning Section End */

    /* Instructor Section Start */
    .sub-instructor-section {
        width: 100%;
        margin: 0 auto;
    }

    .instructor-section .line {
        border-bottom: 2px solid var(--light-text-color);
    }

    /* Instructor Section End */

    /* Course Section Start */
    .course-section .sub-course-section {
        width: 100%;
    }

    /* Course Section End */

    /* Footer Start */
    footer .sub-footer-section {
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
    }

    /* Footer End */

}

/* ------------- 1280px ------------- */


/* ------------- 1200px ------------- */
@media (max-width:1200px) {
    .sub-top-header {
        width: 1080px;
    }
}

/* ------------- 1200px ------------- */


/* ------------- 1080px ------------- */
@media (max-width:1080px) {
    .sub-top-header {
        width: 992px;
    }
}

/* ------------- 1080px ------------- */


/* ------------- 1024px ------------- */
@media(max-width:1024px) {

    /* Hero-Section-Start */
    .sub-hero-section {
        width: 92%;
    }

    .sub-hero-section {
        height: 500px;
    }

    /* Hero-Section-End */

    /* Larning Section Start */

    .learning-section .sub-learning-2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .learning-section .sub-learning-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .learning-section .learning-box {
        width: 100%;
        max-width: 442px;
    }

    /* Learning Section End */
}

/* ------------- 1024px ------------- */



/* ------------- 992px ------------- */
@media (max-width:992px) {
    .sub-top-header {
        width: 768px;
    }

    /* Placement Section Start */
    .placement-section .sub-placement-section {
        width: 92%;
    }

    /* Placement Section End */

    /* Footer Start */

    footer .sub-footer-section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 1rem 0;
    }

    footer .logo {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .footer-links h4 {
        font-size: 18px;
    }

    footer .logo-links {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 3rem;
    }

    footer .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    /* Footer End */

}

/* ------------- 992px ------------- */


/* ------------- 850px ------------- */
@media(max-width:850px) {

    /* Nav-Start */
    nav {
        position: relative;
    }

    .nav-button {
        width: 100%;
        height: 50vh;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
        backdrop-filter: blur(16px);
        position: absolute;
        top: 5rem;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.4s linear;
        z-index: -1;
    }

    .nav-button .button .mysvg {
        display: none;
    }

    .nav-button ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .hamburger-icon-container {
        display: block;
        display: flex;
    }

    .active .nav-button {
        transform: translateY(0);
    }

    .active .hamburger-icon-container .x-mark {
        display: block;
    }

    .active .hamburger-icon-container .hamburger-icon {
        display: none;
    }

    /* Nav-End */

    /* Hero-Section-Start */
    .sub-hero-section {
        margin-top: 1.3rem;
        height: 1080px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .hero-section .right-1 {
        width: 100%;
    }

    .hero-section .left {
        width: 100%;
        justify-content: center;
    }

    .hero-section .left .slide-text span {
        font-size: 1.875rem;
    }

    .hero-section h1 {
        font-size: 1.25rem;
    }

    .hero-section button {
        padding: 6px 20px;
        font-size: 0.875rem;
    }

    .hero-section .hero-student {
        gap: 1.2rem;
    }

    /* Hero-Section-End */


    /* Followers Section Start */

    .Followers-section .follower-box span {
        font-size: 2.25rem;
    }

    /* Followers Section End */

    /* Learning Section Start */
    .learning-section .sub-section-1 {
        line-height: 32px;
    }

    .learning-section .sub-section-1 h2 {
        font-size: 1.5rem;
        width: 100%;
    }

    /* Learning Section End */

    /* Instructor Section Start */
    .instructor-section .title h2 {
        font-size: 24px;
        color: var(--light-black);
    }

    .instructor-section .title button {
        font-size: 14px;
    }

    .instructor-section .company-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
    }

    /* Instructor Section End */

    /* Placement Section Start */
    .placement-section {
        padding: 80px 0 25px;
    }

    .placement-section .sub-placement-section {
        flex-direction: column;
        height: 720px;
        align-items: self-start;
        justify-content: start;
    }

    .placement-section .left {
        width: 100%;
        justify-content: flex-start;
        align-items: self-start;
        height: 220px;
    }

    .placement-section .right {
        width: 100%;
    }

    .placement-section .sub-left span {
        font-size: 16px;
    }

    .placement-section .sub-left div {
        font-size: 24px;
    }

    .placement-section .left p {
        font-size: 18px;
    }

    /* Placement Section End */

    /* Course Section Start */
    .course-section .title {
        font-size: 24px;
    }

    .course-section .course {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .course-section .course .box .course-name {
        font-size: 18px;
    }

    /* Course Section End */

    /* Account Section Start */
    .account-section .icon-section {
        flex-wrap: wrap;
    }

    /* Account Cection End */

}

/* ------------- 850px ------------- */

/* ------------- 768px ------------- */
@media (max-width:768px) {

    /* Header-Start */
    .sub-top-header {
        width: 576px;
    }

    .sub-hero-section {
        height: 992px;
    }

    /* Header-End */
}

/* ------------- 768px ------------- */


/* ------------- 640px ------------- */
@media (max-width:640px) {

    /* Followers Section Start */

    .Followers-section {
        padding: 64px 20px;
    }

    .sub-follower-section {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4rem;
    }

    .sub-follower-section .youtube:nth-child(1),
    .sub-follower-section .twitter:nth-child(2),
    .sub-follower-section .instagram:nth-child(3) {
        border-right: none;
    }

    /* Followers Section End */

    /* Placement Section Start */
    .placement-section .right .outer-box {
        width: 300px;
        max-width: 300px;
        height: 300px;
    }

    .placement-section .right .img-1 {
        top: -48px;
    }

    .placement-section .right .img-2 {
        top: -39px;
        left: 176px;
    }

    .placement-section .right .img-3 {
        top: 86px;
        left: 223px;
    }

    .placement-section .right .img-4 {
        top: 210px;
        left: 156px;
    }

    .placement-section .right .img-5 {
        top: 210px;
        left: 13px;
    }

    .placement-section .right .img-6 {
        top: 92px;
        left: -67px;
    }

    /* Inner */
    .placement-section .inner-box .img-1 {
        top: -69px;
        left: -11px;
    }

    .placement-section .inner-box .img-2 {
        top: 48px;
        left: -10px;
    }

    .placement-section .inner-box .img-3 {
        top: -9px;
        left: -68px;
    }

    .placement-section .inner-box .img-4 {
        top: -8px;
        left: 49px;
    }

    .placement-section .right .inner-box {
        top: 12%;
        left: 13%;
        width: 225px;
        max-width: 225px;
        height: 225px;
    }

    /* Placement Section End */
}

/* ------------- 640px ------------- */

/* ------------- 576px ------------- */
@media (max-width:576px) {

    /* Header Start */
    .sub-top-header {
        width: 448px;
    }

    nav .logo img {
        width: 90%;
    }

    .hamburger-icon-container {
        gap: 8px;
    }

    /* Header End */

    /* Hero-Section-Start */
    .sub-hero-section {
        height: 786px;
    }

    /* Hero-Section-End */

    /* Learing Seaction Start */
    .learning-section .learning-box div {
        padding: 16px;
    }

    /* Learing Seaction End */

    /* Footer Start */
    footer .logo-links {
        width: 100%;
    }

    footer .footer-links {
        width: 100%;
    }

    footer .support-email {
        width: 100%;
    }

    /* Footer End */

    /* ------------- 576px ------------- */

    /* ------------- 448px ------------- */
    @media(max-width:476px) {

        /* Learning Sction Start */
        .sub-learning-2 .card-1,
        .sub-learning-2 .card-2,
        .sub-learning-2 .card-3 {
            height: 410px;
        }

        .learning-box p:nth-child(3) {
            max-width: 86%;
        }

        /* Learning Section End */

        /* Instructor Section Start */
        .instructor-section {
            padding: 48px 24px 0;
        }

        .instructor-section {
            background-position: center 99%;
        }

        .instructor-section .title {
            align-items: center;
        }

        .instructor-section .title button {
            width: 150px;
            padding: 8px 16px;
        }

        .instructor-section .title h2 {
            line-height: 2.5rem;
        }

        .instructor-section .title h2 {
            width: 70%;
        }

        /* Instructor Section End */


        /* Course-Section Start  */
        .course-section .course .box {
            width: 100%;
            height: max-content;
        }

        /* Course-Section End  */
    }

    /* ------------- 476px ------------- */
}