/* ------------- 1280px ------------- */
@media(max-width:1280px) {

    /* header start */
    .top-header {
        height: 4.7rem;
        display: flex;
    }

    .top-header .left-section {
        max-height: 4.7rem;
        flex-direction: column;
        gap: 0.625rem;
    }

    /* nav-start */
    nav .primary-button span {
        font-size: .875rem;
    }

    nav .sub-nav {
        width: 96%;
    }

    .nav-button {
        width: 70%;
    }

    /* nav-end */
    /* header end */

    /* hero-section-start */
    /* left */
    .hero-section .left .slide-text span {
        font-size: 2.25rem;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section button {
        padding: 6px 28px;
        font-size: 0.875rem;
    }

    .sub-hero-section {
        justify-content: space-between;
        height: 700px;
    }

    .hero-section .right {
        display: none;
    }

    .hero-section .right-1 {
        width: 49%;
        display: unset;
    }

    /* hero-section-end */

    /* followers section start */
    .sub-follower-section {
        width: 100%;
    }

    /* followers section end */

    /* learning section start */

    .learning-section .sub-learning-2 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 56px;
    }

    /* learning section end */
}

/* ------------- 1280px ------------- */


/* ------------- 1200px ------------- */
@media (max-width:1200px) {
    .sub-top-header {
        width: 1080px;
    }
}

/* ------------- 1200px ------------- */


/* ------------- 1080px ------------- */
@media (max-width:1080px) {
    .sub-top-header {
        width: 992px;
    }
}

/* ------------- 1080px ------------- */


/* ------------- 1024px ------------- */
@media(max-width:1024px) {

    /* hero-section-start */
    .sub-hero-section {
        width: 92%;
    }

    .sub-hero-section {
        height: 500px;
    }

    /* hero-section-end */

    /* learning section start */

    .learning-section .sub-learning-2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .learning-section .sub-learning-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .learning-section .learning-box {
        width: 100%;
        max-width: 442px;
    }

    /* learning section end */
}

/* ------------- 1024px ------------- */



/* ------------- 992px ------------- */
@media (max-width:992px) {
    .sub-top-header {
        width: 768px;
    }
}

/* ------------- 992px ------------- */


/* ------------- 850px ------------- */
@media(max-width:850px) {

    /* nav-start */
    nav {
        position: relative;
    }

    .nav-button {
        width: 100%;
        height: 50vh;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
        backdrop-filter: blur(16px);
        position: absolute;
        top: 5rem;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.4s linear;
        z-index: -1;
    }

    .nav-button .button .mysvg {
        display: none;
    }

    .nav-button ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .hamburger-icon-container {
        display: block;
        display: flex;
    }

    .active .nav-button {
        transform: translateY(0);
    }

    .active .hamburger-icon-container .x-mark {
        display: block;
    }

    .active .hamburger-icon-container .hamburger-icon {
        display: none;
    }

    /* nav-end */

    /* hero-section-start */
    .sub-hero-section {
        margin-top: 1.3rem;
        height: 1080px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .hero-section .right-1 {
        width: 100%;
    }

    .hero-section .left {
        width: 100%;
        justify-content: center;
    }

    .hero-section .left .slide-text span {
        font-size: 1.875rem;
    }

    .hero-section h1 {
        font-size: 1.25rem;
    }

    .hero-section button {
        padding: 6px 20px;
        font-size: 0.875rem;
    }

    .hero-section .hero-student {
        gap: 1.2rem;
    }

    /* hero-section-end */


    /* followers section start */

    .Followers-section .follower-box span {
        font-size: 2.25rem;
    }

    /* followers section end */

    /* learning section start */
    .learning-section .sub-section-1 {
        line-height: 32px;
    }

    .learning-section .sub-section-1 h2 {
        font-size: 1.5rem;
        width: 100%;
    }

    /* learning section end */
}

/* ------------- 850px ------------- */



/* ------------- 768px ------------- */
@media (max-width:768px) {

    /* header-start */
    .sub-top-header {
        width: 576px;
    }

    .sub-hero-section {
        height: 992px;
    }

    /* header-end */
}

/* ------------- 768px ------------- */


/* ------------- 640px ------------- */
@media (max-width:640px) {

    /* followers section start */

    .Followers-section {
        padding: 64px 20px;
    }

    .sub-follower-section {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4rem;
    }

    .sub-follower-section .youtube:nth-child(1),
    .sub-follower-section .twitter:nth-child(2),
    .sub-follower-section .instagram:nth-child(3) {
        border-right: none;
    }

    /* followers section end */
}

/* ------------- 640px ------------- */

/* ------------- 576px ------------- */
@media (max-width:576px) {

    /* header start */
    .sub-top-header {
        width: 448px;
    }

    nav .logo img {
        width: 90%;
    }

    .hamburger-icon-container {
        gap: 8px;
    }

    /* header end */

    /* .hero-section-start */
    .sub-hero-section {
        height: 786px;
    }

    /* .hero-section-end */

    /* learing seaction start */
    .learning-section .learning-box div {
        padding: 16px;
    }

    /* learing seaction end */

}

/* ------------- 576px ------------- */

/* ------------- 448px ------------- */
@media(max-width:476px) {

    /* learning sction start */
    .learning-section .learning-box {
        height: 410px;
        overflow: hidden;
    }

    .learning-box p:nth-child(3) {
        max-width: 86%;
    }

    /* learning sction end */
}

/* ------------- 476px ------------- */