@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --black: #000000;
    --light-black: #011229;
    --light-blue-text: #6674cc;
    --extra-light-blue: #7985d2;
    --light-pink: #f5d0fe;
    --extra-light-pink: #f5d0fe;
    --primary-bg-color: #ededed;
    --gray-white: #f7f8fc;
    --light-text-color: #777c85;
    --white: #FFFFFF;
}

html,
body {
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

/*Utility Classes*/
.border {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.item-center {
    align-items: center;
}

.wrapper {
    overflow-x: hidden;
}

.primary-button {
    background-color: var(--light-blue-text);
    color: var(--white);
    padding: 8px 40px;
    border: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.375rem;
}

/* Header */
header {
    width: 100%;
    position: fixed;
}

.top-header {
    height: 3.5rem;
    background-image: linear-gradient(#6674cc, #b578ff);
    padding: 4px 0;
}

.sub-top-header {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
}

.left-section {
    width: 98%;
    text-align: center;
    font-size: 18px;
    color: var(--gray-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.top-header span {
    font-weight: 500;
}

.top-header .coming-soon span {
    background-color: var(--gray-white);
    color: var(--light-blue-text);
    padding: 4px 8px;
    border-radius: 6px;
    margin-left: 4px;
}

header .right-section {
    display: flex;
    align-items: center;
}

header .right-section button {
    all: unset;
    color: var(--gray-white);
}

header .right-section button svg {
    font-size: 2.2rem;
    transform: rotate(135deg);
}

/* nav-start */
nav {
    background-color: var(--gray-white);
    padding: 16px 0;
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
    height: 5.8rem;
}

nav .sub-nav {
    /* width: 1300px; */
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    column-gap: 2rem;
}

nav ul li a {
    font-size: 1.125rem;
    color: var(--black);
}

nav button svg {
    margin-left: 8px;
}

nav .button {
    column-gap: 0.5rem;
}

/* nav-end */